.Header {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #801f1d;
  padding: 10px;
  border-bottom: solid #501e4f 6px;
}
.Header h1,
.Header a {
  font-family: "Limelight", cursive;
  text-decoration: none;
  color: cornsilk;
}
.Header h2,
.Header p {
  margin: 0;
  color: cornsilk;
  font-weight: bold;
}
.Header .filters {
  text-align: center;
  margin: 0;
}
