.MovieObject {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  font-size: 24px;
  background-color: #1d7d80;
  margin: 12px;
  padding: 12px;
  border: solid #1e4d80 4px;
  border-radius: 12px;
  padding: 15px;
  width: 500px;
}
.MovieObject p {
  color: cornsilk;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  max-width: 500px;
  font-family: "Limelight", cursive;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.MovieObject .watchlist {
  color: red;
}

.MovieObject img {
  margin-top: auto;
  width: 500px;
}
.MovieObject img:hover {
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .MovieObject img {
    width: 50vw;
  }
}
